.left .pageInfo{
  position:relative;
  top:-500px;
   
}

.left .post{
  position:relative;
  top:-400px;   
}

.triangle{

   border-left: 10px solid transparent;

   border-right: 10px solid transparent;



   border-bottom: 10px solid #40078C !important;



}