@import "_include";
@import "_plugins";

@mixin textOverflow{
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  -moz-binding: url(css/ellipsis.xml#ellipsis);
}

/************************************************
Embedding fonts
************************************************/

@font-face {
  font-family: 'RomanCapsRegular';
  src: url("../fonts/roman_sd-webfont.eot");
  src: url("../fonts/roman_sd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roman_sd-webfont.woff") format("woff"), url("../fonts/roman_sd-webfont.ttf") format("truetype"), url("../fonts/roman_sd-webfont.svg#RomanCapsRegular") format("svg");
  font-weight: normal;
  font-style: normal; 
 }


@font-face {
  font-family: SRomanSD;
  src: url("../fonts/RomanSD.ttf");
  /* TTF file for CSS3 friendly browsers */ 
}


@font-face {
  font-family: FFRomanSD;
  /*create font name*/
  src: url("../fonts/RomanSD.ttf") format("truetype");
  /*Firefox likes format:truetype*/
}


@font-face {
  font-family: IERomanSD;
  src: url("../fonts/RomanSD.eot"); 
}

$mainColor:#40078c; //purple
$links:#043F8C;
$lightLinks:lighten(mix($mainColor,$links, 40%),45%);  

/* experiments in color
$mainColor:#684300; 
$links: #8e6c39; 
$lightLinks:lighten(mix($mainColor,$links, 40%),45%);  

*/
/*********************************
General rules
**********************************/
body {
  font-family: helvetica, arial, verdana, sans-serif;
  background-color: $mainColor;
  color: #000000;
  font-size: 0.9em; 
}

a {
  color: $links;
  text-decoration: none; 
  &:visited {
    color: lighten($mainColor,30%);
    text-decoration: none; 
  }
  &:hover, &:active{
    color: lighten($mainColor,30%);
    text-decoration: underline; 
  }  
}

h3.inline, p.inline {
  display: inline; 
}

.bold {
  font-weight: bold; 
 }

.italic {
  font-style: italic;
}

.unem {
  font-weight: normal;
  font-style: normal; 
}

.clear {
  clear: both;
}

.alignRight {
  float: right; 
}

.centre {
  margin: 0px auto 40px auto;
  text-align: center; 
}
.centreText{
  text-align:center;
}

span.left {
  float: left; 
}

.space {
  margin-top: 60px;  
}

/**************************************
Content area rules
***************************************/
.wrap {
  /*Sets content to center */
  width: 910px;
  margin: 0 auto 0 auto;
  padding: 0;  
}

div{  
    &.right {
    width: 200px;
    float: right;
    overflow: hidden;  
    clear:both;
    margin-top:20px;
  }
  
  &.right.cleared {
    position: relative;  
  }
  
  &.left {
    width: 710px; 
    margin-top:50px;
  }
  
  &#userNav {
    position: relative;
    z-index: 500;
    background-color: #000000;
    color: #ffffff;
    padding: 0px 40px 0px 40px;
    /*top right bottom left*/
    height: 35px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(darken($mainColor, 40%), 0.45);
    -moz-box-shadow: 0px 5px 10px 0px rgba(darken($mainColor, 40%), 0.45);
    box-shadow: 0px 5px 10px 0px rgba(darken($mainColor, 40%), 0.45);
  }
}

div#userNav, ul#subNav, ul#footNav {
  font-variant: small-caps; 
}

div#position {
  position: absolute;
  top: 8px;
  width: 910px;
 }

form#loginForm {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;  
}

div#userNav input#userName,div#userNav input#userPassword {
  font-family: helvetica, arial, verdana, sans-serif;
  color: #b3b3b3;
  display: inline;
  height: 15px;
  width: 100px;
  margin: -1px 0 0;
  padding: 1px 0;
  position: relative;
  top: -1px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #ffffff;  
}

div#userNav input#loginSubmit {
  font-family: helvetica, arial, verdana, sans-serif;
  font-variant: small-caps;
  padding: 0;
  margin-top: -6px;  
}

#breadcrumbs {
  float:right;
  text-align: right;
  margin-top: -20px;
  font-size: 0.8em;
  height: 50px;  
  width:360px;
  .bCrumbs{
    width:360px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    line-height:20px;
  }
}

.rightContent {
  border: 1px solid #ccc;  
}

div.post {
  margin:50px 0 0 0 !important;
  .left &{
    margin: 0 !important;
  }
  width: 600px; 
 }

ul#login {
  margin: 0;
  padding: 0;
  padding-left: 20px;  
}

div#banner {
  /*border-top:1px solid #2D0260;*/
  padding: 30px 40px 0px 40px;
  /*top right bottom left*/
  background-color: $mainColor;
  color: #ffffff;  
}

div#bannorImage {
  width: 800px;
 // background-color: rgba(30, 8, 63, 0.2);
  background-color: rgba(darken($mainColor,15%), 0.2);
  border-top: 2px solid rgba(darken($mainColor,15%), 0.3);
  border-bottom: 2px solid rgba(darken($mainColor,15%), 0.3);
  border-left: 2px solid rgba(darken($mainColor,1%), 0.7);
  border-right: 2px solid rgba(darken($mainColor,1%), 0.7);
  height: 200px;
  overflow: hidden;
  margin: -50px auto 0px auto;
  text-align: center;  
}

div#bannorImage img {
  margin-top: -50px;  
}

div.mainContent {
  /*White Div*/
  position: relative;
  z-index: 400;
  margin: 0px;
  padding: 0;
  padding-bottom: 1px;
  margin-bottom: 60px;
  background-color: #ffffff;
  color: #838383;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 12px 6px rgba(darken($mainColor, 30%), 0.45);
  -moz-box-shadow: 0px 0px 12px 6px rgba(darken($mainColor, 30%), 0.45);
  box-shadow: 0px 0px 12px 6px rgba(darken($mainColor, 30%), 0.45);  
}

div.post {
  position: relative;
  top: 0px;
  margin: 0;  
}

div.otherContent {
  /*Purple Div*/
  padding: 0;
  background-color: $mainColor;
  color: #838383;  
}

div#footer {
  padding: 4px 40px 4px 40px;
  /*top right bottom left*/
  color: #ffffff;
  height: 60px;
  background-color: #000000;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(darken($mainColor, 40%), 0.45);
  -moz-box-shadow: 0px -5px 10px 0px rgba(darken($mainColor, 40%), 0.45);
  box-shadow: 0px -5px 10px 0px rgba(darken($mainColor, 40%), 0.45); 
 }

/****************************************
Navigation
*****************************************/
ul#mainNav li {
  padding-bottom: 20px;  
}

div#userNav li.set {
  position: relative;
  /*background: url("../images/pointer.png") no-repeat;
  background-position: center 21px;*/  
}

.triangle {
  left: 20%;
  position: absolute;
  top: 19px;
  right: auto;
  display: inline;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid darken($mainColor, 12%);  
}

p.login {
  float: right;
  padding: 0;
  margin: 0;
  border: 0;  
}

div#userNav ul li, div#userNav ul, ul#subNav, ul#subNav li, ul#footNav, ul#footNav li {
  display: inline;  
}

div#userNav a, ul#subNav a, .messageNoUser p.note a {
  color: $lightLinks;
}

.sub {
  padding-top: 10px;  
}

ul#footNav a {
  color: #ffffff;  
}

ul#footNav {
  font-size: 0.7em;
  float: right;
  text-align: right;  
}

span.navLabel {
  font-size: 0.8em;
  position: relative;
  top: -1px;
  color: #ffffff;
  display: inline;
  font-family: helvetica, arial, verdana, sans-serif;
  height: 15px;
  padding: 2px 5px 1px 5px;
  vertical-align: middle;  
}

input#searchTerm {
  margin: 10px;
  width: 120px;  
}

input#search {
  margin: 0;  
}

ul#searchForm, ul#searchForm li {
  display: inline;  
}

ul.rightNav {
  font-variant: small-caps;
  font-family: Times, serif;
  margin: 10px;
  margin-left: 40px;
  list-style-type: lower-roman;  
}

#pageNav, .pageNav {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #ffffff;  
}

.gWrap{
  float:left;
  width: 450px;
}

#pageNav div.gameNav, .pageNav div.gameNav {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  font-variant: small-caps;
  font-size: 0.8em;  
 
}

div.gameNav{
  .statusRight {
  float: left;
  width:70px;
  font-style: normal;  
  text-align:right;
  }
  li{
    padding-bottom:40px !important;
  }

  div.games & {
    margin-bottom: 20px;
    border-bottom: 1px dashed #e9e9e9;  
  }

  em.long {
    margin-left: 10px;
    margin-right: 10px;
    color: #838383; 
 }

  p {
     margin-top: 2px;
    padding-bottom: 2px;  
  }
}

#pageNav ul, .pageNav ul {
  margin-left: 20px;
  margin-right: 18px;
  list-style-type: circle;  
}

#pageNav ul li, .pageNav ul li {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: circle;  
}

.gameNav ul {
  font-variant: normal;
  word-spacing: 0.2em;
  line-height: 1em;  
}

.pageForm {
  width: 600px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;  
}

.pageForm #pageContent {
  height: 500px;  
}

#newsCancel {
  float: left;  
}

/*************************************
Headings
**************************************/
.h2 {
  width: 150px;
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  text-align: center; 
}

.h2 h2, .pageHeading h2 {
  padding-top: 8px;
  font-variant: small-caps;
  font-weight: normal;
  font-family: Times, serif;
  font-size: 1.1em; 
}

.pageHeading {
  position: relative;
  top: 0px;
  width: 150px;
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  text-align: center; 
}

.right .h2 {
  width: 200px;  
}

.mainContent .h2 {
  margin: 0;  
}

div#banner h1, div#banner h2 {
  font-family: RomanCapsRegular, SRomanSD, FFRomanSD, IERomanSD, serif;
  font-smooth: always;
  font-stretch: wider;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.496);
  filter: dropshadow(color = white, offx = 1, offy = 0);
  -webkit-font-smoothing: antialiased;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
  zoom: 1;  
}

h3, .h4 h4 {
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1.3em;
  color:darken($mainColor,13%);
  font-variant: small-caps;
  padding-bottom: 10px;
  font-family: Times, serif;  
}

.h4 h4 {
  /*reset size attribute*/
  font-size: 1em; 
  
}

h5{
  color:#727272;
  margin-bottom:5px;
  }

h3 a, h3 a:link, h3 a:visited, h3 a:active, h3 a:hover {
  color:darken($mainColor,13%);
  text-decoration: none;  
}

.h3, .h4 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  width: 600px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;  
}

.h4 {
  padding-bottom: 5px;
  margin-top: 20px;  
}

.pageForm textarea h3 {
  font-weight: bold;  
}

/*.pageContent h3{
font-size:1.3em;
}*/
#pageNav h5, .pageNav h5 {
  padding-top: 15px;
  margin-left: 10px;
  font-variant: small-caps;
  font-family: Times, serif;  
}

#pageNav h5.gameHeading, .pageNav h5.gameHeading {
  margin-left: 0px;
  font-size: 1.1em;  
}

div#extraInfo img {
  z-index: 500;
  position: relative;
  top: 0px;
  vertical-align: middle;  
}

div#extraInfo {
  margin-top: -80px;
  position: relative;
  top: 50px;
  text-align: center;
  font-family: RomanCapsRegular, SRomanSD, FFRomanSD, IERomanSD, serif;
  font-smooth: always;
  font-stretch: wider;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.496);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
  filter: dropshadow(color = white, offx = 1, offy = 0);
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: #ffffff;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizi